{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
 <link rel="stylesheet" type="text/css" href=" {% static 'home.css' %} ">
{% endblock custom_css %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col ion-text-center">
         <div class="content">
           <h1> ITM University - Get start</h1>
           <h3> Your Voice maters</h3>
           <hr>
              {% if request.user.is_authenticated %}
              <a href="{% url 'polls:list' %}"> <button type="button" class="btn btn-light btn-lg "> Get started!</button></a>
              {% else %}
              <a href="{% url 'accounts:login' %}"> <button type="button" class="btn btn-light btn-lg"> Go to login</button></a>
              {% endif %}       
          
         </div>
        </div>
    </div>
    
  
</div>


{% endblock content %}